In [20]:
mylist=list([1,2,3,4,5,6,7,8])
mylist

[1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
mylist.append(9) 
# add an item to the end of the list
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
mylist.insert(3,10)
# add item at index location 3
mylist

[1, 2, 3, 10, 4, 5, 6, 7, 8, 9]

In [10]:
mylist.extend([11,12,13])
# add multiple items at end 
mylist

[1, 2, 3, 10, 4, 5, 6, 7, 8, 9, 11, 12, 13]

In [11]:
mylist.pop() #remove last element from list

13

In [12]:
mylist.pop(8) # remove item at index location 
mylist

[1, 2, 3, 10, 4, 5, 6, 7, 9, 11, 12]

In [14]:
mylist.remove(1) # remove item 'ONE' (value)
mylist

[2, 3, 10, 4, 5, 6, 7, 9, 11, 12]

In [16]:
del mylist[7] # remove item at index loc 7
mylist

[2, 3, 10, 4, 5, 6, 7, 11, 12]

In [17]:
mylist.clear() # empty list / delete all item in the list
mylist

[]

In [18]:
del mylist # dele entire list

In [21]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8]

## join list

In [29]:
list1=[1,2,3,4]
list2=[5,6,7,8]

In [30]:
list3=list1 + list2 #join two lists by + operator 
list3

[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
list2.extend(list1) # append list2 with list1 
list2

[5, 6, 7, 8, 1, 2, 3, 4]

In [26]:
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4]

In [28]:
list2.insert(0,list1)
list2

[[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4],
 [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4],
 5,
 6,
 7,
 8,
 1,
 2,
 3,
 4]

list membership

In [31]:
list1

[1, 2, 3, 4]

In [32]:
'one' in list1 #check if one exits in the list

False

In [34]:
4 in list1 # check if 4 exits in the list

True

## reverse & sort list

In [35]:
list1=[5,7,2,9,1,0,42] # reverse order

In [36]:
list1.reverse() # reverse the list 
list1

[42, 0, 1, 9, 2, 7, 5]

In [44]:
list1[::-1] #reverse the list

[5, 7, 2, 9, 1, 0, 42]

In [45]:
list1

[42, 0, 1, 9, 2, 7, 5]

In [46]:
list1.sort()

In [47]:
list1

[0, 1, 2, 5, 7, 9, 42]

In [48]:
list2=[2,4,'a',3]
list2.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [50]:
list1.sort() # sort in ascending order
list1

[0, 1, 2, 5, 7, 9, 42]

In [51]:
list1.sort(reverse=True) # sort list in decseding order 
list1

[42, 9, 7, 5, 2, 1, 0]

In [52]:
instance  is another meaning of object

SyntaxError: invalid syntax (3026773857.py, line 1)

# all and any

In [53]:
L1=[1,2,3,4,5,6]

In [54]:
L3 =[1,2,3,4,0]

In [55]:
all(L3) # will return false as one value is false (value 0 is false)

False

In [57]:
any(L1) # will return true as one value is true (value 1 is true)

True

# tuple

In [59]:
tup1 = () # create a empty tuple
len(tup1)

0

In [60]:
type(tup1)

tuple

In [61]:
tup1 = (10,20,30) #tuple of intgers num

In [62]:
tup2 = (10.77,20.77,30.77) # tuple of float

In [63]:
tup3 = ( 'one','two','three') # tuple of string

In [64]:
tup4 = ('data', 25,(50,100),(200,90)) # nested tuple

In [3]:
myset={2,3,4}

In [4]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE','ONE'])

In [5]:
myset

{2, 3, 4, 'ELEVEN', 'ONE', 'TEN', 'TWELVE'}

In [6]:
myset.remove('TEN')  
myset

{2, 3, 4, 'ELEVEN', 'ONE', 'TWELVE'}

In [1]:
d={}

In [1]:
# input 
a=int(input('enter integer1 number'))
b=int(input('enter the integer2 number'))
c=int(input('enter the integer3 number'))

if a >= b and b >= c:
    largest = a
elif b >= a and b >= c:
    largest = b
else:
    largest = c
    
print("The largest number is",largest)

enter integer1 number20
enter the integer2 number30
enter the integer3 number40
The largest number is 40

In [22]:
list1=[10,50,15]
list1

[10, 50, 15]

In [7]:
Sum= list1[0]+list1[1]+list1[2]
Sum

75

In [23]:
list1.reverse()
list1

[15, 50, 10]

TypeError: descriptor 'remove' for 'list' objects doesn't apply to a 'int' object

In [35]:
list1= ['Hello to Python']
new_list =[item.split() for item in list1]
new_list

[['Hello', 'to', 'Python']]

In [1]:
name=input('enter the name:')
profession=input('enter profession:')
email=input('enter the email:')
set={name,profession,email}
set

enter the name:abdul
enter profession:engineer
enter the email:abdul@asd.com

{'abdul', 'abdul@asd.com', 'engineer '}

In [1]:
# simple while loop
i=1
while i<6:
    print('while condition is true',i)
    i=i+1 # ==> i=i+1

while condition is true 1
while condition is true 2
while condition is true 3
while condition is true 4
while condition is true 5

In [2]:
i=1
while i<=6:
    print('while condition is true',i)
    i=i+1 # ==> i=i+1

while condition is true 1
while condition is true 2
while condition is true 3
while condition is true 4
while condition is true 5
while condition is true 6

In [3]:
i=1
print("start of while")
while i<6:
    print(i)
    if i==3:
        break
    i=i+1
print("end of while")

start of while
1
2
3
end of while

In [5]:
i=3
while i<6:
    print(i)
    i+=1
else:
    print("while loop is false")
print("hi")

3
4
5
while loop is false
hi

In [7]:
count=0
while (count<3):
    count=count+1
    print(count,"successful")

1 successful
2 successful
3 successful

In [1]:
s='data science course'
s1=[]
for i in s:
    print(i.upper())
    s1.extend(i.upper())
print(s1)

D
A
T
A

S
C
I
E
N
C
E

C
O
U
R
S
E
['D', 'A', 'T', 'A', ' ', 'S', 'C', 'I', 'E', 'N', 'C', 'E', ' ', 'C', 'O', 'U', 'R', 'S', 'E']

In [2]:
fruits = {1:'Apple',2:'Banana',3:'Mango',4:'Watermelon'}
for i in fruits:
    if fruits[i]=='Banana':
        print(fruits[i])

Banana

In [3]:
fruits = {1:'Apple',2:'Banana',3:'Mango',4:'Watermelon'}
for i in fruits:
    if fruits[i]=='Banana':
        print(fruits[i])
    if fruits[i]!='banana':
        print(i,fruits[i])

1 Apple
Banana
2 Banana
3 Mango
4 Watermelon

In [6]:
# print tuple values usinf for loop
tup=('apple','banana','mango')
for value in tup:
    print(value)

apple
banana
mango

In [8]:
set={1,2,3,4}
for value in set:
    print(value)

1
2
3
4

In [10]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
list1=['apple','banana','geo']
list2=[20,10,30]

In [15]:
for i in list1: #outer loop
    for k in list2: #inner loop
        print(i,k)

apple 20
apple 10
apple 30
banana 20
banana 10
banana 30
geo 20
geo 10
geo 30

In [29]:
list1=[0,1]
list2=[2,3]
for i in list1:
    for k in list2:
        print(i,k)

0 2
0 3
1 2
1 3

In [20]:
for i in range(2):
    for j in range(2):
        print(f"Matrix[{i}][{j}]")

Matrix[0][0]
Matrix[0][1]
Matrix[1][0]
Matrix[1][1]

In [27]:
item_prices = {
    "apple": 50,
    "banana": 20,
    "orange": 60,
    "chocolate": 20,
}
for i in item_prices.values():
    print(i)

50
20
60
20

In [28]:
# Define the cart as a dictionary where the keys are item names and the values are their prices.
cart = {
    "item1": 10.99,
    "item2": 5.99
}

# Initialize variables to keep track of the items to purchase and the total amount.
items_to_purchase = []
total_amount = 0.0

# Display the available items in the cart.
print("Available items in the cart:")
for item, price in cart.items():
    print(f"{item}: ${price}")

# Let the user select items to purchase.
for i in range(2):
    item = input(f"Enter the name of item {i + 1} to purchase: ")
    if item in cart:
        items_to_purchase.append(item)
        total_amount += cart[item]
    else:
        print(f"Item {item} is not available in the cart. Please choose from the available items.")

# Display the selected items and the total amount.
print("Selected items:")
for item in items_to_purchase:
    print(item)
print(f"Total amount: ${total_amount:.2f}")

Available items in the cart:
item1: $10.99
item2: $5.99
Enter the name of item 1 to purchase: item1
Enter the name of item 2 to purchase: item2
Selected items:
item1
item2
Total amount: $16.98

In [39]:
#Task: print the toatl checkout amount for purchasing 2 items from cart
## cart contemt: {}

cart= {1:{'name':"A","price":10},2:{'name':"B","price":20}}
total=0

for item in cart:
      for i in cart[item]:
        if i=='price':
            total= total+cart[item][i]
print("Total:",total)

Total: 30

In [4]:
# Define a dictionary
Dict = {'key1': 'value1', 'key2': 'value2'}


# Add a new key-value pair
key = 'key3'
value = 'value3'
Dict[key] = value

# Print the updated dictionary
print(Dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [5]:
# del specific key
Dict.pop('key1') 
Dict

{'key2': 'value2', 'key3': 'value3'}

In [9]:
'key2' in Dict

True

In [11]:
# Find the key with the highest value
Dict={'apple':200 ,'mango':250 , 'milk':150}
max_key = max(Dict, key=Dict.get)

# Get the highest value
highest_value = Dict[max_key]

# Print the result
print(f"The key '{max_key}' has the highest value: {highest_value}")

The key 'mango' has the highest value: 250

In [12]:
#Task: get Highest value in the dictionary  
marklist = {'s1':56,'s2':68,'s3':81,'s4':54 } 
marks =  marklist.values() 
print(marks)  
print(max(marks))

dict_values([56, 68, 81, 54])
81

In [13]:
def area_of_circle(r):
    area=3.14*r*r
    print(area)

In [15]:
area_of_circle(5)

78.5

In [16]:
def rectangle(l,b):
    area=l*b
    return area

In [17]:
a=rectangle(3,1)
print("area of rectangle is ",a)

area of rectangle is  3

In [19]:
def squareofnum():
    a=int(input("enter a number:"))
    return a**2

In [20]:
squareofnum()

enter a number:5

25

In [23]:
print('square number of is :',squareofnum())

enter a number:2
square number of is : 4

In [43]:
a=int(input("enter the 1st number:"))
b=int(input("enter the 2st number:"))
def sum(a,b):
    return a+b
print("sum of",a,"and",b,"is:",sum(a,b))

enter the 1st number:10
enter the 2st number:20
sum of 10 and 20 is: 30

In [51]:
def odd():
    for i in range(10,21):
        if i%2!=0:
            print(i,"is odd")
odd()

11 is odd
13 is odd
15 is odd
17 is odd
19 is odd

In [1]:
from functools import reduce
lis=[1,3,4,5]
print(reduce(lambda a,b: a+b, lis))

13

In [2]:
lis=[1,3,5,6,2]
print("the max element of list is:",end="")
print(reduce(lambda a,b:a if a>b else b,lis))

the max element of list is:6

In [8]:
def check_odd_even(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

user = input("Enter number: ")
numbers = list(map(int, user.split()))

result = list(map(check_odd_even, numbers))

print("Result:",result)

Enter number: 2
Result: ['Even']

In [40]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def main():
    n = int(input("Enter a number: "))
    if is_prime(n):
        print(n, "is a prime number")
    else:
        print(n, "is not a prime number")

if __name__ == "__main__":
    main()

Enter a number: 6
6 is not a prime number

In [41]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Get a list of numbers from the user
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))

# Use map to apply the is_prime function to each number in the list
result = list(map(is_prime, numbers))

# Print the results
for num, prime in zip(numbers, result):
    print(f"{num} is prime: {prime}")

Enter a list of numbers separated by spaces: 5 2 10
5 is prime: True
2 is prime: True
10 is prime: False

In [43]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Get a list of numbers from the user
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))

# Use map to apply the is_prime function to each number in the list and print the results
print("\n".join([f"{num} is prime: {is_prime(num)}" for num in numbers]))

Enter a list of numbers separated by spaces: 10 5 2
10 is prime: False
5 is prime: True
2 is prime: True

In [46]:
def cal_product(numbers):     
    prod = 1     
    for n in numbers:         
        prod *= n     
    return prod  
numbers = input("Enter numbers: ").split() 
numbers = list(map(int, numbers)) 
res = cal_product(numbers)  
print("Product =" ,res)

Enter numbers: 2 5 6
Product = 60

In [48]:
from functools import reduce

def cal_product(numbers):
    return reduce(lambda x, y: x * y, numbers)

numbers = list(map(int, input("Enter numbers: ").split()))
res = cal_product(numbers)
print("Product =", res)

Enter numbers: 2 5 6
Product = 60

In [ ]:
4. Get the square root of the numbers in a tuple.     5. Get the prime numbers from the numbers 11 to 30.     6. Create 2 lists of interger values, add both the list element-wise and filter the values which are greater than 10 and find the product of those value (Using lambda, map,filter and reduce).